@charset "UTF-8";

/* ========================== */
/* ----------- MAIN --------- */
/* ========================== */
html {
	/* Debug oldies */
	position: relative;
	min-height: 100%;
	font-size: 100%;
}

body {
	
	/* 1em */
	font-size: 1rem;
	
	background-size: cover;
	background-image: url("../images/ladle_wallpaper_main.jpg");
	background-color: #E7E9EC;
	background-position: center;
	background-attachment: fixed;
	
	/* margin-bottom = #footer.height */
	margin-bottom: 7.6em;
}

/* ======================= */
/* --- HEADER / NAVBAR --- */
/* ======================= */
.navbar-brand {
	margin-top: -1rem;
	margin-bottom: -1rem;
}

.modal-content {
	z-index: 1050;
}

footer p {
	margin-bottom: 0;
}

#header-navbar {
	background-color: #00ab13 !important;
}

/* ============ */
/* --- BODY --- */
/* ============ */

.ladle-bg-main {
  background: rgba(255, 255, 255, 0.9);
  
  border: outset 1px #fff;
  border-radius: 1.5rem / 1.5rem;
}

/* ============== */
/* --- FOOTER --- */
/* ============== */
footer {
	background-color: rgb(32, 95, 39);
	bottom: 0;
	height: 6.6em;
	width: 100%;
}

/* ================================================= */
/* ================================================= */
