@charset "UTF-8";

/* ================================================= */
/* --- Main --- */
/* ============ */

html {
    position: relative;
    min-height: 100%;
}

body {

	/* margin-bottom = #footer.height */
    margin-bottom: 60px;
}

/* ================================================= */
/* --- Header / NavBar --- */
/* ======================= */

#header-navbar {
    background-color: #00ab13 !important;    
}

/* ================================================= */
/* --- Footer --- */
/* ============== */

#footer {
    background-color: rgb(32, 95, 39);
    bottom: 0;
    height: 100px;
    width: 100%;
}

/* ================================================= */
/* ================================================= */
