<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="XMLConfigTest" packages="org.apache.logging.log4j.test">
  <Properties>
    <Property name="filename">target/test.log</Property>
  </Properties>
  <Appenders>
    <Console name="ConsoleStdOut" target="SYSTEM_OUT">
        <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <Console name="ConsoleStdErr" target="SYSTEM_ERR">
        <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
</Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="ConsoleStdOut" />
      <AppenderRef ref="ConsoleStdErr" />
    </Root>
    <Logger name="org.ladle" level="debug" additivity="false">
      <AppenderRef ref="ConsoleStdOut" />
      <AppenderRef ref="ConsoleStdErr" />
    </Logger>
  </Loggers>
</Configuration>